out/

.vault.pass


inventories/*
!inventories/sample/
!inventories/sample/hosts.yml

group_vars/*
!group_vars/sample/hosts.yml

host_vars/*

.ansible/

logs/*
.cache/
# TMP
roles/upgrade/tasks/includes/upgrade-firmware.yml
