/export{{ ' compact' if backup_export_config.is_compact else '' -}}
{{ ' show-sensitive' if backup_export_config.is_sensitive else '' -}}
{{ ' terse' if backup_export_config.is_terse else '' -}}
{{ ' verbose' if backup_export_config.is_verbose else '' }} file={{ backup_identity }}
